.AuthorCard h2 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0;
}

.AuthorCard p {
  font-size: 14px;
  margin: 10px 0;
}

.AuthorCard ul li {
  display: inline-block;
  margin-right: 10px;
}

.AuthorCard ul {
  margin: 10px 0;
  padding: 0;
}
