//
.Dropdown {
  position: relative;
}

.Dropdown ul {
  margin: 0;
  padding: 0;
}

.Dropdown form > ul > li > ul > li {
  margin: 0;
  padding: 0;
}

.Dropdown--selectedItem {
  width: 200px;
  padding: 10px;
  background-color: #fff;
  border: solid 1px #f6f6f6;
  font-size: 12px;
  font-weight: bold;
  min-height: 12px;

  &:hover {
    cursor: pointer;
  }
}

.Dropdown--list {
  position: absolute;
  top: 34px;
  left: 0;
  display: none;
  width: 220px;
  max-height: 400px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px #f6f6f6;
  z-index: 3;
}

.Dropdown--list.expanded {
  display: block;
}

.Dropdown--list li {
  padding-left: 10px;
  list-style-type: none;
  margin-bottom: 10px;
}

.Dropdown--list label {
  display: block;
  font-size: 12px;
  padding: 0 5px;
  margin-top: 5px;
  user-select: none;
}

.Dropdown--list input {
  display: none;
}

.Dropdown--list input:checked + label::before {
  content: '- ';
}
